.device-container {
  position: relative;
  display: flex;
}

.input-device {
  font-family: "Plus Jakarta Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 40px 40px;
  gap: 16px;
  isolation: isolate;

  position: absolute;
  width: 480px;
  height: 275px;
  top: 470px;
  left: 10%;

  background: #5e6d7d;
  box-shadow:
    4px 4px 4px rgba(0, 0, 0, 0.25),
    inset -4px -4px 15px rgba(0, 0, 0, 0.25),
    inset 4px 4px 15px rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}

.device-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 5px;

  /* width: 252px;
  height: 56px; */

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

img.device-logo {
  width: 32px;
  height: 32px;

  background: url(logo);
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.5));

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* smpn 17 kota jambi · attendance terminal */
.device-title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  letter-spacing: 0.05em;
  font-family: "Plus Jakarta Sans";

  color: rgba(255, 255, 255, 0.5);

  text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);

  flex: none;
  order: 1;
  flex-grow: 0;
}

.input-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 40px 20px;
  gap: 13px;

  font-family: "DM Mono", monospace;

  width: 400px;
  height: 120px;

  background: #d5d5c0;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.panel-clock {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 0px;
  color: rgba(51, 51, 51, 0.75);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0px;
  /* gap: 184px; */

  width: 320px;
  height: 38px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.panel-clock.time {
  font-size: 16px;
}

.panel-label {
  width: 29px;
  height: 8px;

  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 4px;

  color: rgba(51, 51, 51, 0.75);
}

.digit {
  cursor: default; /* or 'pointer', 'none', etc — changes hover icon */
  caret-color: transparent; /* hides the blinking text caret */

  font-size: 21px;
  font-family: "Jetbrains Mono", monospace;
  color: rgba(51, 51, 51, 0.9);
  box-sizing: border-box;

  width: 21px;
  height: 32px;

  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);

  background: transparent;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.digit:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.25);
}

img.screw {
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 2;
  /* Screw */
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.25),
    inset 0px -1px 2px rgba(0, 0, 0, 0.25),
    inset 0px 1px 1px rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}

img.screw.tl {
  top: 12px;
  left: 12px;
}
img.screw.tr {
  top: 12px;
  right: 12px;
}
img.screw.dl {
  bottom: 12px;
  left: 12px;
}
img.screw.dr {
  bottom: 12px;
  right: 12px;
}

.scanning-label {
  align-items: center;
  padding: 14px 0px;

  width: 321px;
  height: 32px;

  background: rgba(0, 0, 0, 0.35);

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
/* SCANNING... */
.scanning-label p {
  width: 80px;
  height: 4px;

  font-family: "DM Mono";
  font-size: 16px;
  line-height: 4px;

  color: #d5d5c0;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cable {
  position: absolute;
  left: 12%;
}
