.device-container {
  position: relative;
  display: flex;
  top: -50px;
}

.input-device {
  isolation: isolate;

  font-family: "Plus Jakarta Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 40px 40px;
  gap: 16px;
  isolation: isolate;

  width: 480px;
  height: 275px;
  position: relative;

  position: absolute;
  top: 470px;
  left: 5%;

  background: #456281;

  box-shadow:
    2px 2px 2px rgba(0, 0, 0, 0.35),
    inset 2px 2px 2px #426284,
    inset -4px -4px 4px rgba(0, 0, 0, 0.3),
    inset 4px 4px 4px rgba(255, 255, 255, 0.25);

  border-radius: 15px;
}

.device-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 5px;

  /* width: 252px;
  height: 56px; */

  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

img.device-logo {
  width: 32px;
  height: 32px;

  background: url(logo);
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.5));

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.device-title {
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.05em;
  font-family: "Plus Jakarta Sans";

  color: rgba(255, 255, 255, 0.5);

  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);

  flex: none;
  order: 1;
  flex-grow: 0;
}

.input-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 40px 20px;
  gap: 13px;

  font-family: "DM Mono", monospace;

  width: 400px;
  height: 120px;

  background: #d5d5c0;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 4px solid #333;

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.panel-clock {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 0px;
  color: rgba(51, 51, 51, 0.75);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0px;
  /* gap: 184px; */

  width: 320px;
  height: 38px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.panel-label {
  width: 29px;
  height: 8px;

  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 4px;

  color: rgba(51, 51, 51, 0.75);
}

.digit {
  cursor: default; /* or 'pointer', 'none', etc — changes hover icon */
  caret-color: transparent; /* hides the blinking text caret */

  font-size: 21px;
  font-family: "Jetbrains Mono", monospace;
  color: rgba(51, 51, 51, 0.9);
  box-sizing: border-box;

  width: 21px;
  height: 32px;

  border: none;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);

  background: transparent;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.digit:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.25);
  animation: digit-blink 0.7s linear infinite;
}

@keyframes digit-blink {
  0%,
  45% {
    background: rgba(0, 0, 0, 0.25);
  }
  50%,
  95% {
    background: rgba(0, 0, 0, 0);
  }
}

/* SCANNING... */
.scanning-label p {
  width: 80px;
  height: 4px;

  font-family: "DM Mono";
  font-size: 16px;
  line-height: 4px;

  color: #d5d5c0;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cable {
  position: absolute;
  left: 8%;
}

.device-hole-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 100%;
  height: 0px;
  /* left: 132px; */
  top: 255px;
}

.device-hole {
  width: 48px;
  height: 2px;

  border-radius: 25%;

  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
}
