.counter {
  font-size: 48px;
  background-color: #eee;
  border-radius: 15px;
  padding: 20px 15px;
  color: #111;
}

.app-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.deck-container {
  flex: 0 0 55%;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
  height: 100vh;
}

.device-container {
  flex: 0 0 45%;
}
/* .student-card-wrapper {
  position: absolute;
} */
/*
.student-card.placed {
  top: 50%;
  transform: translateY(-50%);
}

.student-card:not(.placed) {
  top: 50%;
  transform: translateY(-200%);
} */
